<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> List events - Flask</title>
        <meta name="description" content="Protótipo simples de interação com a base de dados">
        <meta name="author" content="Grupo 86">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/ist199249/templates/static/css/normalize.css">
        <link rel="stylesheet" href="/ist199249/templates/static/css/skeleton.css">
    </head>
    <body style="padding:20px">
    <p><a href="ivm">Voltar</a></p>
    {% if cursor %}
    <h3>Lista de eventos de reposição da IVM com o número de série {{ params.get("num_serie") }} do fabricante {{ params.get("fabricante") }}</h3>
        <table border="2px">
            <thead>
                <tr>
                    <th>Categoria</th>
                    <th>Número de unidades repostas</th>
                </tr>
            </thead>
            <tbody>
                {% for record in cursor %}
                <tr>
                    <td>{{ record[0] }}</td>
                    <td>{{ record[1] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Erro: ao obter dados da base de dados!</p>
    {% endif %}
    </body>
</html>
