<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Menu</title>
  <meta name="description" content="Protótipo simples de interação com a base de dados">
  <meta name="author" content="Grupo 86">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/ist199249/templates/static/css/normalize.css">
  <link rel="stylesheet" href="/ist199249/templates/static/css/normalize.css">

</head>
<body style="padding:20px">

  <h1>Menu</h1>
  <h3>Escolha uma das seguintes opções:</h3>
  <ul>
  <li><a href="gerir-categorias">Gerir Categorias</a></li>
  <li><a href="gerir-retalhistas">Gerir Retalhistas</a></li>
  <li><a href="ivm">Listar Eventos de reposição de uma IVM</a></li>
  <li><a href="categoria">Listar Sub-Categorias</a></li>
  <li>Consultas SQL</li>
    <ul>
      <li><a href="sql1">Nome do(s) retalhista(s) responsáveis pela reposição do maior número de categorias</a></li>
      <li><a href="sql2">Nome do(s) retalhista(s) responsáveis por categorias simples</a></li>
      <li><a href="sql3">EAN dos produtos que nunca foram repostos</a></li>
      <li><a href="sql4">EAN dos produtos que foram repostos sempre pelo mesmo retalhista</a></li>
    </ul>
  </ul>

</body>
</html>