<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>List IVM - Flask</title>
        <meta name="description" content="Protótipo simples de interação com a base de dados">
        <meta name="author" content="Grupo 86">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/ist199249/templates/static/css/normalize.css">
        <link rel="stylesheet" href="/ist199249/templates/static/css/normalize.css">
      
    </head>
    <body style="padding:20px">
    <p><a href="menu">Menu</a></p>
    {% if cursor %}
        <h3>Lista de IVM's com produtos repostos</h3>
        <table border="2px">
            <thead>
                <tr>
                    <th>Número de Série</th>
                    <th>Fabricante</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody>
                {% for record in cursor %}
                    <tr>
                        <td>{{ record[0] }}</td>
                        <td>{{ record[1] }}</td>
                        <td><a href="eventos?num_serie={{ record[0] }}&fabricante={{ record[1] }}">Listar</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Erro: não foi possível obter dados da base de dados!</p>
    {% endif %}
    </body>
</html>